<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<add key="behost" value="127.0.0.1" />
<add key="beport" value="2302" />
<add key="bepass" value="password" />

<add key="sqlhost" value="127.0.0.1" />
<add key="sqluser" value="root" />
<add key="sqlpass" value="mysqlpassword" />
<add key="sqldatabase" value="whitewall" />

<add key="mode" value="on" />

</appSettings>
</configuration>